.payment-info {
    background: #3B71CA;
    padding:20px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.payment-info-true {
    background: rgb(27, 25, 25);
    padding:20px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.product-details {
    padding: 10px;
}


.credit-inputs {
    background: #3B71CA;
    border-color: #FFFFFF; 
}

.credit-inputs::placeholder {
    color: rgb(255, 255, 255);
    font-size: 17px;
}

input.credit-inputs::first-line {
    color: rgb(255, 255, 255);
}

.credit-card-label {
    font-size: 17px;
    font-weight: 300;
    font-weight: bold;
    color: white;
}

.form-control.credit-inputs {
    background: #3B71CA;
    color: white;
    font-weight: 100;
}

.dark-true-cart.form-control.credit-inputs {
    background: #000000;
    color: white;
    font-weight: 100;
}

.line {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.information span {
    font-size: 17px;
    font-weight: 500;
}

.information {
    margin-bottom: 5px;
}

.items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.26);
}

.spec {
    font-size: 11px;
}
